body {
  font-family: "MedievalSharp", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.home-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("/img/backgroundTower.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content p {
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-content h1 {
  animation: fadeIn 1s ease-in;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* link */
.link {
  text-decoration: none;
  margin-left: 20px;
  list-style: none;
  color: #f0e6d2;
}

/* Navbar */
.navbar {
  background-color: #3e3e3e;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "MedievalSharp", cursive !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  color: white;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.background-img {
  background-image: url("/public/img/vecchio_libro.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.floor-title {
  position: absolute;
  top: 200px;
  right: 420px;
}

.description {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  top: 795px;
  font-size: 25px;
}

.subtitle {
  position: absolute;
  top: 200px;
}

.paths {
  margin-top: 850px;
}

.img-weapons {
  width: 150px;
  border-radius: 12px;
  position: absolute;
  top: 565px;
  left: 600px;
}

.img-paths {
  width: 250px;
  height: 150px;
  border-radius: 8px;
}

.death-button {
  background-color: #860808;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: "MedievalSharp", cursive !important;
  font-size: 1.2rem;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
  animation: fadeInScale 0.5s ease forwards;
  animation-delay: 3s;
}

/* L'animazione */
@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.death-button:hover {
  background-color: #ff0000;
  transition: transform 0.3s ease in-out;
}

.battle-button {
  background-color: #860808;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: "MedievalSharp", cursive !important;
  font-size: 1.2rem;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.main-image {
  position: absolute;
  top: 300px;
  width: 700px;
  height: 450px;
  border-radius: 12px;
}

.player-title {
  position: absolute;
  font-size: 30px;
  top: 350px;
  left: 600px;
  border: 2px solid #cfbb08;
  padding: 10px;
  border-radius: 12px;
}

.player-weapon {
  position: absolute;
  font-size: 30px;
  top: 495px;
  left: 600px;
  border: 2px solid #cfbb08;
  padding: 10px;
  border-radius: 12px;
}

.player-name {
  position: absolute;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  top: 400px;
  left: 620px;
}

.img-paths:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease in-out;
}

.paths-action {
  background-color: #cfbb08;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "MedievalSharp", cursive !important;
  font-size: 1.2rem;
  width: 250px;
}

.paths-action:hover {
  background-color: #e1f016;
  transition: transform 0.3s ease in-out;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.orco-img {
  width: 150px;
  height: 150px;
  border-radius: 12px;
}

.player-img {
  width: 150px;
  height: 150px;
  border-radius: 12px;
}

.modal-content {
  margin-top: 335px;
}

.health-bar-container {
  width: 150px;
  height: 16px;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

.health-bar {
  height: 100%;
  background-color: green;
  transition: width 0.3s ease;
}

@media (max-width: 576px) {
  .floor-title {
    position: absolute;
    top: 65px;
    right: 350px;
  }

  .subtitle {
    position: absolute;
    top: 180px;
  }

  .main-image {
    position: absolute;
    top: 235px;
    width: 530px;
    height: 365px;
  }

  .description {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 10px;
    top: 620px;
    font-size: 18px;
  }

  .img-paths {
    width: 150px;
    height: 100px;
    border-radius: 12px;
  }

  .paths-action {
    background-color: #cfcc08;
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: "MedievalSharp", cursive !important;
    font-size: 15px;
    width: 150px;
    height: 80px;
    text-align: center;
  }

  .paths {
    margin-top: 750px;
  }

  .player-title {
    position: absolute;
    font-size: 18px;
    top: 124px;
    left: 315px;
    border: 2px solid #cfbb08;
    padding: 8px;
    border-radius: 12px;
  }

  .player-name {
    position: absolute;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    top: 155px;
    left: 335px;
  }

  .player-weapon {
    position: absolute;
    font-size: 18px;
    top: 105px;
    left: 470px;
    border: 2px solid #cfbb08;
    padding: 8px;
    border-radius: 12px;
    display: none;
  }

  .img-weapons {
    width: 90px;
    border-radius: 12px;
    position: absolute;
    top: 155px;
    left: 470px;
    display: none;
  }
}
