body {
  font-family: "MedievalSharp", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.home-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("/img/backgroundTower.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content p {
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-content h1 {
  animation: fadeIn 1s ease-in;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* link */
.link {
  text-decoration: none;
  margin-left: 20px;
  list-style: none;
  color: #f0e6d2;
}

/* Navbar */
.navbar {
  background-color: #3e3e3e;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "MedievalSharp", cursive !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  color: white;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-img {
  background-image: url("/public/img/vecchio_libro.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.floor-title {
  position: absolute;
  top: 200px;
  right: 420px;
}

.description {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  top: 795px;
  font-size: 25px;
}

.subtitle {
  position: absolute;
  top: 200px;
}

.paths {
  margin-top: 850px;
}

.img-weapons {
  width: 150px;
  border-radius: 12px;
  position: absolute;
  top: 450px;
  right: 600px;
}

.img-paths {
  width: 250px;
  height: 150px;
  border-radius: 8px;
}

.main-image {
  position: absolute;
  bottom: 500px;
  width: 700px;
  height: 450px;
}

.img-paths:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease in-out;
}

.paths-button {
  background-color: #cfbb08;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "MedievalSharp", cursive !important;
  font-size: 1.2rem;
  width: 250px;
}

.paths-button:hover {
  background-color: #e1f016;
  transition: transform 0.3s ease in-out;
}
