* {
  box-sizing: border-box;
}

body {
  font-family: "MedievalSharp", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.home-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("/img/backgroundTower.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content p {
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-content h1 {
  animation: fadeIn 1s ease-in;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* link */
.link {
  text-decoration: none;
  margin-left: 20px;
  list-style: none;
  color: #f0e6d2;
}

/* Navbar */
.navbar {
  background-color: #3e3e3e;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "MedievalSharp", cursive !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  color: white;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.background-img {
  background-image: url("/public/img/vecchio_libro.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.floor-title {
  position: absolute;
  top: 50px;
  left: 500px;
}

.description {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  top: 795px;
  font-size: 25px;
}

.subtitle {
  position: absolute;
  top: 200px;
}

.paths {
  margin-top: 1000px;
}

.img-weapons {
  width: 150px;
  border-radius: 12px;
  position: absolute;
  top: 565px;
  left: 600px;
}

.img-paths {
  width: 250px;
  height: 150px;
  border-radius: 8px;
}

.death-button {
  display: block !important;
  opacity: 1 !important;
  z-index: 9999 !important;
  position: relative !important;
}

/* L'animazione */
@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.death-button:hover {
  background-color: #ff0000;
  transition: transform 0.3s ease in-out;
}

.battle-button {
  background-color: #860808;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: "MedievalSharp", cursive !important;
  font-size: 1.2rem;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.main-image {
  position: absolute;
  top: 300px;
  width: 700px;
  height: 450px;
  border-radius: 12px;
}

.player-title {
  position: absolute;
  font-size: 30px;
  top: 350px;
  left: 600px;
  border: 2px solid #cfbb08;
  padding: 10px;
  border-radius: 12px;
}

.player-weapon {
  position: absolute;
  font-size: 30px;
  top: 495px;
  left: 600px;
  border: 2px solid #cfbb08;
  padding: 10px;
  border-radius: 12px;
}

.player-name {
  position: absolute;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  top: 400px;
  left: 620px;
}

.img-paths:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease in-out;
}

.paths-action {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid #cfcc08;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-family: "MedievalSharp", cursive !important;
  font-size: 1.2rem;
  width: 250px;
}

.paths-action:hover {
  background-color: #e1f016;
  transition: transform 0.3s ease in-out;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.orco-img {
  width: 150px;
  height: 150px;
  border-radius: 12px;
}

.player-img {
  width: 150px;
  height: 150px;
  border-radius: 12px;
}

.modal-content {
  margin-top: 335px;
}

.health-bar-container {
  width: 150px;
  height: 16px;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

.health-bar {
  height: 100%;
  background-color: green;
  transition: width 0.3s ease;
}

.paths-grid {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-paths {
  position: absolute; /* o fixed */
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-battle {
  position: absolute;
  top: 500px;
}

.player-img-battle {
  width: 150px;
  height: 150px;
  border-radius: 12px;
}

/* Css modale percorsi */
.custom-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.custom-modal-dialog {
  background-color: white;
  width: 90%;
  max-height: 90vh;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.custom-modal-scroll {
  flex: 1;
  overflow-y: auto;
  margin-top: 20px;
}

.paths-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.text-message {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 10px;
}

.traversing-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.dot-animation::after {
  content: "";
  display: inline-block;
  width: 1em;
  text-align: left;
  animation: dots 1s steps(3, end) infinite;
  white-space: nowrap;
}

@keyframes dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.player-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/img/backgroundTower.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-img {
  margin-bottom: 100px;
  color: white;
}

.inventory-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

/* Posizione e sfondo scuro modale */
.inventory-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/* Contenitore centrale */
.inventory-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* Stile interno (lo stesso di prima) */
.inventory-window {
  width: 375px;
  height: 165px;
  background-color: rgba(231, 221, 221, 0.8);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100px;
  right: 400px;
}

.inventory-window-modal {
  width: 1000px;
  height: 1000px;
  background-color: rgba(231, 221, 221, 0.8);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  /* Centramento nella finestra */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 100; /* assicurati che sia sopra */
}

.player-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.player-img:hover {
  transform: scale(1.05);
}

.image-wrapper.selected {
  border: 2px solid gold;
  padding: 4px;
  border-radius: 10px;
}

.weapon-img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.equipment-container,
.items-container {
  border: 1px solid black;
  padding: 20px;
  border-radius: 12px;
  width: 849px;
  height: 260px;

  gap: 20px;
  background-color: #f8f8f8;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.inventory-slot {
  width: 100px;
  height: 100px;
  background-color: #dcdcdc;
  border: 2px dashed #aaa;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.inventory-slot:hover {
  background-color: #e3e3e3;
}

.slot-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.empty-slot-text {
  font-size: 0.8rem;
  color: #666;
}

@media (max-width: 768px) {
  .subtitle {
    position: absolute;
    top: 120px;
  }

  .floor-title {
    position: absolute;
    top: 65px;
    right: 350px;
    display: none;
  }

  .main-image {
    position: absolute;
    top: 185px;
    width: 700px;
    height: 450px;
    border-radius: 12px;
  }
}

/* Small device */
@media (max-width: 576px) {
  .floor-title {
    position: absolute;
    top: 65px;
    right: 350px;
    display: none;
  }

  .subtitle {
    position: absolute;
    top: 150px;
  }

  .main-image {
    position: absolute;
    top: 220px;
    width: 530px;
    height: 365px;
  }

  .description {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 10px;
    top: 620px;
    font-size: 16px;
  }

  .img-paths {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    filter: brightness(70%); /* scurisce l'immagine */
  }

  .paths-action {
    background-color: rgba(0, 0, 0, 0.2);
    color: balck;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: "MedievalSharp", cursive !important;
    font-size: 15px;
    width: auto;
    height: auto;
    text-align: center;
  }

  .paths {
    margin-top: 820px;
  }

  .player-title {
    position: absolute;
    font-size: 18px;
    top: 124px;
    left: 315px;
    border: 2px solid #cfbb08;
    padding: 8px;
    border-radius: 12px;
  }

  .player-name {
    position: absolute;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    top: 155px;
    left: 335px;
  }

  .player-weapon {
    position: absolute;
    font-size: 18px;
    top: 105px;
    left: 470px;
    border: 2px solid #cfbb08;
    padding: 8px;
    border-radius: 12px;
    display: none;
  }

  .img-weapons {
    width: 90px;
    border-radius: 12px;
    position: absolute;
    top: 155px;
    left: 470px;
    display: none;
  }

  .margin-card {
    margin-top: 100px;
  }

  .btn-paths {
    position: absolute; /* o fixed */
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .death-button {
    position: absolute;
    bottom: 200px;
  }

  .player-img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }

  .weapon-img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
  }
  .inventory-btn {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
  }

  .inventory-window-modal {
    width: 350px;
    height: 650px;
    background-color: rgba(231, 221, 221, 0.8);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 100;
  }

  .equipment-container,
  .items-container {
    border: 1px solid black;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    height: 141px;

    gap: 20px;
    background-color: #f8f8f8;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Extra small device */
@media (max-width: 480px) {
  .floor-title {
    position: absolute;
    top: 65px;
    right: 300px;
    display: none;
  }

  .subtitle {
    position: absolute;
    top: 90px;
  }

  .main-image {
    position: absolute;
    top: 125px;
    width: 375px;
    height: 250px;
    margin-top: 25px;
  }

  .description {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 10px;
    top: 390px;
    font-size: 18px;
    margin-top: 20px;
  }

  .path-card {
    position: relative;
    width: 150px;
    height: 118px;
    border-radius: 12px;
    overflow: hidden;
  }

  .img-paths {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    filter: brightness(70%); /* scurisce l'immagine */
  }

  .path-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
  }

  .path-description {
    color: white;
    font-size: 13px;
    font-family: "MedievalSharp", cursive;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
  }

  .paths {
    margin-top: 540px;
  }

  .player-title {
    position: absolute;
    font-size: 18px;
    top: 124px;
    left: 315px;
    border: 2px solid #cfbb08;
    padding: 8px;
    border-radius: 12px;
  }

  .player-name {
    position: absolute;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    top: 155px;
    left: 335px;
  }

  .player-weapon {
    position: absolute;
    font-size: 18px;
    top: 105px;
    left: 470px;
    border: 2px solid #cfbb08;
    padding: 8px;
    border-radius: 12px;
  }

  .img-weapons {
    width: 90px;
    border-radius: 12px;
    position: absolute;
    top: 155px;
    left: 470px;
    display: none;
  }

  .margin-card {
    margin-top: 60px;
  }

  .paths-grid {
    display: grid;
  }

  .path-card {
    width: 100%;
    max-width: 250px; /* o 150-200px a seconda di quanto vuoi stretto */
    margin: 0 auto;
  }

  .death-button {
    display: block !important;
    opacity: 1 !important;
    z-index: 9999 !important;
    position: relative !important;
    top: 840px;
  }
}

@media (max-width: 375px) {
  .floor-title {
    position: absolute;
    top: 65px;
    left: 25px;
    display: none;
  }

  .subtitle {
    position: absolute;
    top: 135px;
  }

  .main-image {
    position: absolute;
    top: 205px;
    width: 355px;
    height: 280px;
    margin-top: 15px;
  }

  .description {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 10px;
    top: 500px;
    font-size: 18px;
  }

  .img-paths {
    width: 113px;
    height: 100px;
    border-radius: 12px;
    display: block;
  }

  .paths-action {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 1px solid #cfcc08;
    border-radius: 12px; /* angoli solo in basso */
    cursor: pointer;
    font-family: "MedievalSharp", cursive !important;
    font-size: 14px;
    width: 113px;
    min-height: 60px;
    text-align: center;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .paths {
    margin-top: 750px;
  }

  .player-title {
    position: absolute;
    font-size: 18px;
    top: 124px;
    left: 315px;
    border: 2px solid #cfbb08;
    padding: 8px;
    border-radius: 12px;
  }

  .player-name {
    position: absolute;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    top: 155px;
    left: 335px;
  }

  .player-weapon {
    position: absolute;
    font-size: 18px;
    top: 105px;
    left: 470px;
    border: 2px solid #cfbb08;
    padding: 8px;
    border-radius: 12px;
    display: none;
  }

  .img-weapons {
    width: 90px;
    border-radius: 12px;
    position: absolute;
    top: 155px;
    left: 470px;
    display: none;
  }

  .flex-path {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .margin-card {
    margin-top: 50px;
  }
}
